<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=5"
		/>

		<link rel="icon" href="https://telegra.ph/file/7e7fe8c105bacd551a099.jpg" />
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="https://t.me/arakurumi"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://uraa.me/file/style.css" />
		<title>404 page | @arakurumi</title>
	</head>

	<body>
		<h1>404 not found</h1>
		<main>
			<img
				src="https://telegra.ph/file/7e7fe8c105bacd551a099.jpg"
				alt="Uwoooh"
			/>
			<article>
				<h2>Tabibito-san👿</h2>
				<p>Where are you going dear?</p>
				<a href="https://t.me/arakurumi">Telegram Group</a>
			</article>
		</main>

		<footer>
			<a href="https://t.me/arakurumi" target="_blank"
				><span>@arakurumi</span></a
			>
		</footer>
	</body>
</html>
